@media(max-width: 1160px) {
    .myDocuments {
        width: 100%;
        margin: 50px 0px 50px 0px;
        display: flex;
        justify-content: center;
    }
    .myDocuments__content {
        width: 184px;
        display: block;
        justify-content: normal;
        text-align: center;
    }
    .myDocuments__document {
        width: 184px;
        text-align: start;
    }
    .myDocuments__document-name {
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
    }
    .myDocuments__document-scan {
        width: 184px;
        height: 248px;
        background: #C4C4C4;
        margin: 5px 0px 27px 0px;
    }
    .myDocuments__document-image {
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
    }
}

