.step2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0px;
}
.step2__content {
    width: 750px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 25px 50px 40px 50px;
}
.step2__loading-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #000000;
    text-align: center;
}
.step2__loading-show {
    border: 1px solid #8F2525;
    box-sizing: border-box;
    border-radius: 5px;
    height: 13px;
    margin: 15px;
}
.step2__loading-show-filled {
    background: #8F2525;
    border: 1px solid #8F2525;
    box-sizing: border-box;
    border-radius: 5px;
    width: 50%;
    height: 11px;
}
.step2__body {
    margin: 65px 0px 0px 0px;
    display: flex;
}
.step2__left {
    display: block;
    width: 10%;
    text-align: center;
    margin: 0px 0px 0px 10px;
}
.step2__mfo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.step2__mfo-act {
    /*background: #00FF00;*/
}
.step2__mfo-del {
    /*background: #FF0000;*/
}
.step2__mfo p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    width: 22.5px;
    margin: 2.5px;
    text-align: center;
}
.step2__mfo img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.step2__right {
    width: 90%;
    /*margin: 40px 0px 0px 0px;*/
}
.step2__error {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    background: rgba(220, 53, 69, 0.4);
    /*border-radius: 15px;*/
    padding: 15px 20px 15px 20px;
    color: #404040;
    border-left: 2px solid rgba(220, 53, 69, 1);
    margin: 0px 0px 25px 0px;
}
.step2__error span {
    font-weight: normal;
    font-size: 19px;
    line-height: 23px;
}

/* --- */

.step2__organizations {
    position: relative;
}
.step2__organizations-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #7D7B7B;
    margin: 0px 0px 3px 0px;
}
.step2__organizations-input {
    background: #FFFFFF;
    border: 1px solid #9C9C9C;
    box-sizing: border-box;
    border-radius: 10px 10px 0px 0px;
    padding: 15px 15px 15px 15px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    width: 100%;
    overflow: scroll;
}
.step2__organizationsList {
    position: absolute;
    background: #fff;
    border-radius: 0px 0px 10px 10px;
    border-left: 1px solid #9C9C9C;
    border-right: 1px solid #9C9C9C;
    border-bottom: 1px solid #9C9C9C;
    width: 100%;
    z-index: 99;
}
.step2__organizationsList-option {
    border-bottom: 1px solid #9C9C9C;
    margin: 0 !important;
    padding: 15px 15px 15px 15px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    cursor: pointer;
    width: 95.75%;
}

.step2__workMFO {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.step2__addMFO {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    cursor: pointer;
}
.step2__workMFO-content {
    display: none;
}
.step2__listMFOS-mobile {
    border-radius: 5px;
    font-family: Montserrat;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    padding: 5px;
}
.step2__listMFOS-choose-mobile {
    border: 1px solid #9C9C9C;
    background: #FFFFFF;
    color: #000000;
}
.step2__listMFOS-delete-mobile {
    border: 1px solid #F66;
    background: #F66;
    color: #fff;
    margin: 0px 0px 0px 2px;
}

/* --- */

.Step2Show_priceMFOS {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
}

/* --- */



/* --- */



/* --- */

.step2__input {
    margin: 35px 0px 0px 0px;
}
.step2__input-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #7D7B7B;
    margin: 0px 0px 5px 0px;
}
.step2__input-title-require {
    color: #8F2525;
}
.step2__input-part {
    display: flex;
    align-items: end;
}
.step2__input-value {
    background: #FFFFFF;
    border: 1px solid #707070;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    padding: 12.5px 15px;
}
.step2__input-price {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #7D7B7B;
    margin: 5px;
}

/* --- */

.step2__problems {
    position: relative;
    margin: 35px 0px 0px 0px;
}
.step2__problems-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #7D7B7B;
    margin: 0px 0px 3px 0px;
}
.step2__problems-input {
    background: #FFFFFF;
    border: 1px solid #9C9C9C;
    box-sizing: border-box;
    border-radius: 10px 10px 0px 0px;
    padding: 15px 15px 15px 15px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    width: 100%;
    overflow: scroll;
}
.step2__problemsList {
    position: absolute;
    background: #fff;
    border-radius: 0px 0px 10px 10px;
    border-left: 1px solid #9C9C9C;
    border-right: 1px solid #9C9C9C;
    border-bottom: 1px solid #9C9C9C;
    width: 100%;
    z-index: 99;
}
.step2__problemsList-option {
    border-bottom: 1px solid #9C9C9C;
    margin: 0 !important;
    padding: 15px 15px 15px 15px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    cursor: pointer;
    width: 95.75%;
}

/* --- */

.step2__descriptionProblems {
    position: relative;
    margin: 35px 0px 15px 0px;
}
.step2__descriptionProblems-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #7D7B7B;
    margin: 0px 0px 3px 0px;
}
.step2__descriptionProblems-input {
    background: #FFFFFF;
    border: 1px solid #9C9C9C;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 15px 15px 15px 15px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    width: 100%;
    overflow: scroll;
}

/* --- */

.step2__back-to {
    position: fixed;
    right: 20px;
    bottom: 10px;
    text-align: end;
}
.step2__back-to p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 27px;
    color: #000000;
    cursor: pointer;
    margin: 0;
}
.step2__back-to-btn {
    border: 0;
    background: #8F2525;
    box-shadow: 0px 0px 44px -12px #8F2525;
    border-radius: 15px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    padding: 15px 45px;
    cursor: pointer;
}
.step2__back-to-btn:hover {
    box-shadow: 0px 0px 100px 5px #8F2525;
}
.step2__back-to-btn:active {
    background: #D28D8D;
    box-shadow: none;
}

/* --- */

.step2__footer {
    margin: 45px 0px 0px 0px;
}
.step2__transitions {
    display: flex;
    justify-content: space-between;
}
.step2__back {
    background: #FFFFFF;
    border: 3px solid #8F2525;
    box-sizing: border-box;
    box-shadow: 0px 0px 44px -12px #8F2525;
    border-radius: 15px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #8F2525;
    padding: 19px 47.5px;
    cursor: pointer;
}
.step2__back:hover {
    box-shadow: 0px 0px 100px 5px #8F2525;
}
.step2__back:active {
    border: 3px solid #D28D8D;
    color: #D28D8D;
    box-shadow: none;
}
.step2__submit {
    border: 0;
    background: #8F2525;
    box-shadow: 0px 0px 44px -12px #8F2525;
    border-radius: 15px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 19px 79.5px;
    cursor: pointer;
}
.step2__submit p {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    margin: 0;
    padding: 0;
}
.step2__submit:hover {
    box-shadow: 0px 0px 100px 5px #8F2525;
}
.step2__submit:active {
    background: #D28D8D;
    box-shadow: none;
}

